@charset "utf-8";

/*-------------------------------------------------------------------
    @genaral
-------------------------------------------------------------------*/
/* grid */

/*-------------------------------------------------------------------
    @elements
-------------------------------------------------------------------*/
/* button */
.btn-wrap{}

.btn {border: 1px solid transparent; padding: 0 0; margin: 0 0; display: flex; align-items: center; justify-content: center;}
.btn-ic{ border: none; padding: 0; margin: 0; display: block; text-indent: -9999px; background-size: 100%; background-repeat: no-repeat; background-position: center;}

.btn.md {height: 32px; gap: 0 4px; padding: 0 10px; font-weight: 600; font-size: 12px;}

.btn.fill-purple {background-color: #9775FA; border-radius: #9775FA; color: #ffffff;}

.btn.circle {border-radius: 500px;}

.btn-ic.square {border-radius: 8px; width: 32px; height: 32px;}

.btn-ic.square.gray {border: 1px solid #CED4DA;}

.btn-search {width: 16px; height: 16px; background-image: url('../img/icon/ic_search.png')}
.btn-search.square {background-size: 16px;}
.btn-date {width: 16px; height: 16px; background-image: url('../img/icon/ic_date.png')}
.btn-reset {width: 24px; height: 24px; }
.btn-reset.gray {background-image: url('../img/icon/ic_reset_g.png')}

/* icon */
i[class^='ic-'] {display: block; flex: none; background-repeat: no-repeat; background-position: center; background-size: 100%;}

.ic-member {width: 16px; height: 16px;}
.ic-member.white {background-image: url('../img/icon/ic_member_w.png')}
.ic-user {width: 16px; height: 16px; background-image: url('../img/icon/ic_user.png');}
.ic-admin {width: 16px; height: 16px; background-image: url('../img/icon/ic_admin.png');}
[class^="ic-depth"] {width: 24px; height: 24px;}
.ic-depth01 {background-image: url('../img/icon/ic_gnb_01.png');}
[class^="ic-lnb"] {width: 16px; height: 16px;}

/* bullet */

/* list */
.list-wrap{}

.list-wrap.v1{}

/* img list */
.img-list{}

.img-list.v1{}

/* form, input */
.inp-wrap{}
.inp-item{}

.inp-item input[type="text"]{}

.phone .inp-item{}

/* title */
.tit-wrap{}
.tit-wrap .tit{}

.tit.v1 {font-size: 14px; line-height: 1.143; font-weight: 600;}

/* text */
.txt-warning{}
.txt-comment{}

/* table */
.tbl-wrap{}
.tbl-wrap table{ width: 100%; table-layout: fixed; }

.tbl-wrap.v1{}

/* paging */
.paging{}
.paging ul{}
.paging ul li{}
.paging ul li a{}
.paging ul li.front{}
.paging ul li.prev{}
.paging ul li.next{}
.paging ul li.back{}

/*-------------------------------------------------------------------
    @collections
-------------------------------------------------------------------*/
/* form */
input[type="text"],
input[type="password"] {display: block; width: 100%; height: 32px; border: 1px solid #CED4DA; border-radius: 8px; font-size: 12px; padding: 0 20px;}

.radio.v1 {width: fit-content;}
.radio.v1 input[type="radio"] {border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;}
.radio.v1 input[type="radio"] + label {padding: 8px 16px; width: fit-content; display: flex; align-items: center; justify-content: center; gap: 0 2px; background-color: #ffffff;}
.radio.v1 input[type="radio"] + label p {font-size: 12px; line-height: 1.5; color: #343434;}
.radio.v1 input[type="radio"]:checked + label {background-color: #7950F2;}
.radio.v1 input[type="radio"]:checked + label p {font-weight: 600; color: #ffffff;}

.radio.v2 {width: fit-content; display: flex;}
.radio.v2 input[type="radio"] {border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;}
.radio.v2 input[type="radio"] + label {position: relative; background-color: #CED4DA; border-radius: 20px; padding: 4px 14px; background-color: #F1F3F5;}
.radio.v2 input[type="radio"] + label p {font-size: 12px; font-weight: 600; line-height: 1.3334; color: #868E96;}
.radio.v2 input[type="radio"]:checked + label {background-color: #4C6EF5;}
.radio.v2 input[type="radio"]:checked + label p {color: #ffffff;}

.select.v1 {display: block; width: 100%; height: 32px; border: 1px solid #CED4DA; border-radius: 8px; font-size: 12px; padding: 0 20px; background: #ffffff url('../img/icon/ic_inp_select.png') no-repeat right 20px center; background-size: 16px;}

/* form group */
.period {width: 200px;}
.period .date {position: relative;}
.period .date input[type="text"] {padding-right: 48px;}
.period .date .btn-date {position: absolute; right: 20px; top: 8px;}

.search {position: relative;}
.search input[type="text"] {padding-right: 56px;}
.search .btn-search {position: absolute; right: 20px; top: 8px;}

.switch {width: 36px; height: 20px;}
.switch input[type="checkbox"] {border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;}
.switch input[type="checkbox"] + label {display: block; width: 36px; height: 20px; border-radius: 10px; background-color: #CED4DA; position: relative; cursor: pointer;}
.switch input[type="checkbox"] + label::before {content: ""; position: absolute; width: 16px; height: 16px; border-radius: 50%; background-color: #ffffff; top: 2px; left: 2px;}
.switch input[type="checkbox"]:checked + label {background-color: #4C6EF5;}
.switch input[type="checkbox"]:checked + label::before {left: 18px;}